@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html {
    height: 100%;
    font-family: Ubuntu, sans-serif;
    background: rgb(59,31,220);
    background: linear-gradient(135deg, rgba(59,31,220,1) 0%, rgba(31,192,220,1) 100%);
}

#react_root {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: auto auto;
    min-width: 400px;
    min-height: 300px;
    max-width: fit-content;
    padding: 1rem;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}

.reg_input_text {
    display: flex;
    border: 0px;
    border-bottom: 2px #1f91dc solid;
    padding: .5rem;
}

.reg_input_submit {
    display: flex;
    color: white;
    justify-content: center;
    text-decoration: none;
    padding: .5rem;
    background: #1f91dc;
    border-radius: 10px;
    border-style: none;
}

:disabled {
    opacity: .5;
  }
