@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html {
    height: 100%;
    background: rgb(59,31,220);
    background: linear-gradient(135deg, rgba(59,31,220,1) 0%, rgba(31,192,220,1) 100%);
}

body {
    font-family: Ubuntu, sans-serif;
}
